<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Course Table</title>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="introduction.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
</head>
<body>
    <!-- header -->

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">查询课程</a></li>
            <li><a href="#">个人课表</a></li>
            <li><a href="#">选课论坛</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span
                  class="glyphicon glyphicon-user"
                  aria-hidden="true"
                ></span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">个人信息</a></li>
                <li><a href="#">注销</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   <!-- container -->


            <!-- container -->
    <div class="container">
      <div class="jumbotron">
        <h5>课程信息</h5>
        <p></p>
        <p></p>
      </div>

      <div class="jumbotron">
        <h5>学生评论</h5>
        <p></p>
        <p></p>
        <p></p>
        <!-- hrer is should be a button -->
        <p></p>
        <!-- review dialog -->
        <div class="modal-sheet" id="review_dialog" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content rounded-6 shadow">
              <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">add review</h5>
              </div>
              <div class="modal-body py-0">
                <div class="rate_stars">
                  <div class="stars-outer">
                    <div class="stars-inner"></div>
                  </div>
                  <span class="number-rating"></span>
                </div>
                <div class="rate_text">
                  <textarea class="rate_input" maxlength="200" placeholder="请输入，最多180字。。。"></textarea>
                </div>
              </div>
              <div class="modal-footer flex-column border-top-0">
                <button type="button" class="btn btn-lg btn-primary">Save Review</button>
                <button type="button" class="btn btn-lg btn-light" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- review dialog end-->
      </div>
    </div>
        <!-- container end -->

        <!-- reference -->

        <!-- reference end -->
<script>
// 点击按钮显示对话框
</script>

<!-- footer -->

</body>
</html>



