
<div class="row pre-scrollable" ">
<table class="table  table-hover " >
  <thead>
    <tr class="table-info">
        <th >序号</th>
        <th >开课单位</th>
        <th >课程编码</th>
        <th >课程名称</th>
        <th >课程属性</th>
        <th >所属学科/专业</th>
        <th >课时/学分</th>
        <th >开课周</th>
        <th >星期节次</th>
        <th >教室</th>
        <th >授课方式</th>
        <th >考试方式</th>
        <th >首席教授</th>
        <th >主讲教师</th>
        <th >助教</th>
        <th >是否远程教学</th>
        <th>往届学姐学长打分</th>
        <th>课程评价</th>
    </tr>
  </thead>
  <tbody>
              
    
  </tbody>
</table>
</div>
